<form class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend>Iniciar sesión</legend>


  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="">Correo electrónico</label>  
    <div class="col-md-4">
    <input id="" name="" type="text" placeholder=""  ng-model="vm.usuario.correo" class="form-control input-md">        
    </div>
  </div>    

  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="">Contraseña</label>
    <div class="col-md-4">
      <input id="" name="" type="password" placeholder="" ng-model="vm.usuario.contrasenna" class="form-control input-md">
      
    </div>
  </div>



  <!-- Button (Double) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for=""></label>
    <div class="col-md-8">
      <!-- <button id="" name="" class="btn btn-default">Cancel</button> -->
      <button id="" name="" class="btn btn-warning" ng-click="vm.login()"> Entrar</button>
    </div>
  </div>

  </fieldset>
</form>