<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="localhost:8000">Sistema​ ​para​ ​evaluación​ ​de​ ​hoteles</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <input id="filter" class="form-control" type="search" name="nameFilter" ng-model="vm.buscar" placeholder="Buscar">
        <!-- <input type="text" class="form-control" placeholder="Search..."> -->
      </form>    
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#!/usuario">Usuarios</a></li>
        <li><a href="/#!/hotel">Hoteles</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row" ng-hide="vm.nuevoHotel">

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
      <div class="row">
        <div class="col-md-4">
          <h1 class="page-header">Hoteles</h1>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-warning" ng-click="vm.nuevoHotel = !vm.nuevoHotel">Agregar hotel</button>
        </div>         
      </div>
    
      <div ng-repeat="hotel in vm.hoteles | filter:vm.buscar" class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="row placeholders">
          <div class="col-xs-6 col-sm-3 placeholder">
            <img ng-src="{{hotel.foto}}" alt="Description" class="profile-avatar" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"/>
            <h4>{{hotel.nombre}}</h4>
            <span class="text-muted">{{hotel.coordenadas}}</span>
            <span class="text-muted">{{hotel.provincia}}</span>
            <span class="text-muted">{{hotel.direccion}}</span>
            <span class="text-muted">{{hotel.distrito}}</span>
            <span class="text-muted">{{hotel.telefono}}</span>
            <span class="text-muted">{{hotel.correo}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="vm.nuevoHotel">
  <div class="col-md-6 col-md-offset-3">
    <div class="modal-header login-header">
        <h4 class="modal-title">Información del usuario</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="provincia">Provincia</label>
        <input ng-model="vm.usuario.provincia" type="text" class="form-control" id="provincia" placeholder="000">
      </div>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input ng-model="vm.usuario.nombre" type="text" class="form-control" id="nombre" placeholder="">
      </div>
      <div class="form-group">
        <label for="distrito">Distrito</label>
        <input ng-model="vm.usuario.distrito" type="text" class="form-control" id="distrito" placeholder="">
      </div>
      <div class="form-group">
        <label for="direccion">Direccion</label>
        <input ng-model="vm.usuario.direccion" type="text" class="form-control" id="direccion" placeholder="">
      </div>
      
      <div class="form-group">
        <label for="telefono">telefono</label>
        <input ng-model="vm.usuario.telefono" class="form-control" type="file" ng-model="vm.usuario.telefono" name="telefono" id="telefono"  accept="image/x-png,image/gif,image/jpeg">
      </div>

      <div class="form-group">
        <label for="correo">correo</label>
        <input ng-model="vm.usuario.correo" class="form-control" type="file" ng-model="vm.usuario.correo" name="correo" id="correo"  accept="image/x-png,image/gif,image/jpeg">
      </div>

      <div class="input-group">
        <label class="input-group-btn">

          <a><p ng-click="vm.pickFile()"  class="btn btn-primary" style="background-color: #FBB803; color: black">Seleccion&hellip;<input style="display: none;" id="cv" ng-model="vm.usuario.file" multiple>
          </p></a>
          
        </label>
        <input  ng-if="vm.loading" value="Cargando..." type="text" class="form-control" style="color: black" readonly>
        <input  ng-if="!vm.loading" ng-model="vm.fileName" type="text" class="form-control" style="color: black" readonly>
      </div>  
    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="vm.nuevoHotel = !vm.nuevoHotel">Cancelar</button>
        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="vm.presave()">Agregar</button>        
    </div>    
  </div>
  </div>
</div>