<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://localhost:8000/#!/principal/hoteles">Sistema​ ​para​ ​evaluación​ ​de​ ​hoteles</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <!-- <input id="filter" class="form-control" type="search" name="nameFilter" ng-model="vm.buscar" placeholder="Buscar"> -->
        <!-- <input type="text" class="form-control" placeholder="Search..."> -->
      </form>    
      
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="/#!/principal/usuario">Usuarios</a></li> -->
        <li><a href="/#!/principal/hoteles">Hoteles</a></li>
        <li><a href="" ng-click="vm.salir()">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</nav>


<div ui-view>



