<div class="container-fluid">
  <div class="row" ng-hide="vm.nuevoHotel">

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
      <div class="row page-header">
        <div class="col-md-4">  
          <h1>Hoteles</h1>
        </div>
        <div class="col-md-4">

          <button type="button" class="btn btn-warning" ng-if="vm.session.rol == 'admin'" ng-click="vm.nuevoHotel = !vm.nuevoHotel; vm.hotel= {}">Agregar hotel</button>         

        </div>

        <div class="col-md-4">
        <!-- <label for="">Buscar</label> -->
          <input type="text" class="form-control" placeholder="Buscar" ng-model="vm.buscar" style="margin-top: 25px">
        </div>

      </div>
    
        <div ng-repeat="hotel in vm.hoteles | filter:vm.buscar" class="col-sm-6 col-md-4 col-lg-3">
          <a href="/#!/principal/hotel?id={{hotel._id}}" ng-click="console.log('hola')">
            <div class="row placeholders">
            <div class="col-xs-12 placeholder">
              <img ng-src="{{hotel.imagen}}" alt="Description" class="profile-avatar" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"/>
              <h4>{{hotel.nombre}}</h4>

                <span class="stars" style="display: inline-block;" >
                  <span ng-style="{ 'width': vm.getStars(hotel.calificacion)}"></span>
                </span> 
                <span class="review-no">( {{hotel.calificacion}} )</span> </br>
              <!-- <span class="text-muted">Lat: {{hotel.coordenadas.lat}} Long: {{hotel.coordenadas.lng}}</span> -->
              <!-- <span class="text-muted"></span> -->
              <!-- <span class="text-muted">Provincia: {{hotel.lugar.provincia}} Distrito: {{hotel.lugar.distrito}} Cantón: {{hotel.lugar.canton}} </span> -->
              <!-- <span class="text-muted">{{hotel.direccion}}</span> -->
<!--               <span class="text-muted">Telefono de reservaciones: {{hotel.telefono.reservaciones}} </br> Telefono servicioCliente: {{hotel.telefono.servicioCliente}}</span>
              <span class="text-muted">Correo de reservaciones: {{hotel.correo.reservaciones}} </br> Correo servicioCliente: {{hotel.correo.servicioCliente}}</span> -->
            </div>
          </div>          
        </a>
      </div>
    </div>
  </div>

  <section ng-show="vm.nuevoHotel">
    <div class="row">
      <div class="col-md-12 login-header modal-header">
        <h4 class="modal-title">Información del hotel</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input ng-model="vm.hotel.nombre" type="text" class="form-control" name="nombre" id="nombre" required placeholder="">
        </div>

            <div class="form-group">
              <label for="direccion">Direccion</label>
              <input ng-model="vm.hotel.direccion" name="direccion" type="text" class="form-control" id="direccion" required placeholder="">
            </div>
            <div class="row"><!-- div de lugar -->
              <h5 style="margin-left: 15px;">Ingrese el lugar</h5>

              <div class="col-md-4 form-group">
                <label for="provincia">Provincia</label>
                <select ng-model="vm.hotel.lugar.provincia" type="text" name="provincia" class="form-control" id="provincia" required placeholder="000">
                  <option disabled value="">Seleccione provincia</option>
                  <option ng-repeat="provincia in vm.lugares.provincias" value="{{provincia.nombre}}">
                    {{provincia.nombre}}
                  </option>
                </select>
              </div>

              <div class="col-md-4 form-group">
                <label for="canton">Cantón</label>
                <select ng-model="vm.hotel.lugar.canton" type="text" name="canton" class="form-control" required id="canton">
                  <option disabled value="">Seleccione canton</option>
                  <option ng-repeat="canton in vm.lugares.cantones" value="{{canton.nombre}}">
                    {{canton.nombre}}
                  </option>
                </select>
              </div>

              <div class="col-md-4 form-group">
                <label for="distrito">Distrito</label>
                <select ng-model="vm.hotel.lugar.distrito" type="text" name="distrito" class="form-control" required id="distrito">
                  <option disabled value="">Seleccione distrito</option>
                  <option ng-repeat="distrito in vm.lugares.distritos" value="{{distrito.nombre}}">
                    {{distrito.nombre}}
                  </option>
                </select>
              </div>
            </div>   

            <div class="form-group"><!-- ubicacion -->
              <h5>Ubicación​</h5>
              <div class="row">
                <div class="col-md-6">
                  <label for="lat">Latitud​</label>
                  <input ng-model="vm.hotel.coordenadas.lat" type="text" class="form-control" id="coordenadas" name="lat" required placeholder="">
                </div>
                <div class="col-md-6">
                  <label for="lng">​Longitud</label>
                  <input ng-model="vm.hotel.coordenadas.lng" type="text" class="form-control" id="coordenadas" name="lng" required placeholder="">
                </div>
              </div>
            </div>             
      </div>
      <div class="col-md-6">

        <div class="modal-body">

          <form name="hotelForm">       
                        <div class="form-group">
              <label for="imagen">Imagen</label>
              <input ng-model="vm.hotel.imagen" class="form-control" type="file" name="imagen" id="imagen" accept="image/x-png,image/gif,image/jpeg">
            </div>

            <div class="form-group"><!-- cooreos -->
              <div class="row">
                <div class="col-md-6">
                  <label for="correo">e-mail de reservaciones</label>
                  <input ng-model="vm.hotel.correo.reservaciones" type="text" name="reservacion" class="form-control" id="correo" required placeholder="reservas@ejemplo.com">
                </div>
                <div class="col-md-6">
                  <label for="correo">e-mail de servicio Cliente</label>
                  <input ng-model="vm.hotel.correo.servicioCliente" type="text" name="servicioCliente" class="form-control" id="correo" required placeholder="customer@ejemplo.com">
                </div>
              </div>

            </div>

            <div class="form-group"><!-- telefonos -->
              <div class="row">
                <div class="col-md-6">
                  <label for="telReservaciones">Teléfono reservaciones</label>
                  <input ng-model="vm.hotel.telefono.reservaciones" type="text" class="form-control" id="telefono" name="telReservaciones" placeholder="">
                </div>

                <div class="col-md-6">
                  <label>Teléfono Servicio Cliente</label>
                  <input ng-model="vm.hotel.telefono.servicioCliente" type="text" class="form-control" name="telServicioCliente" id="telefono" placeholder="">
              </div>
                </div>
            </div>
      
          </form>
        </div>

      </div>      
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="vm.nuevoHotel = !vm.nuevoHotel">Cancelar</button>
            <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="vm.presave()">Agregar</button>       <!-- ng-disabled="!{{hotelForm.$invalid}} --> 
        </div>        
      </div>
    </div>
  </section>

</div>

