<div class="row">
	<div class="col-md-5">
		<div class="row">
			<div class="col-md-12">
				<img src="{{vm.hotel.imagen}}" style="max-width: 100%; max-height: 70vh; margin-bottom: 2vh" alt="">				
			</div>
		</div>
		<div class="row"><!-- ng-map -->
			<div class="col-md-12">
				<ng-map zoom="17" center=[{{vm.hotel.coordenadas.lat}},{{vm.hotel.coordenadas.lng}}] style="height: 34vh">
				  <marker ng-show="vm.googlePlace" position="{{vm.hotel.coordenadas.lat}},{{vm.hotel.coordenadas.lng}}" ></marker>
				</ng-map>
			</div>		
		</div>
			
	</div>

	<div class="col-md-7">
		<div class="row">
			<div class="col-md-12">
				<h3 class="product-title">{{vm.hotel.nombre}}</h3>
				<div class="rating">
					<!-- <rating read-only="true" ng-model="vm.hotel.calificacion"></rating> -->
					<a href="" data-toggle="modal" ng-click="vm.modalCalificacion()">
						<span class="stars">
				          <span ng-style="{ 'width': vm.getStars(vm.hotel.calificacion) }"></span>
				        </span>										
						<span class="review-no">( {{vm.hotel.calificacion}} )</span>			        
					</a>
				</div>
				<p class="product-description">{{vm.hotel.direccion}}</p>
				<h5 class="sizes">Lugar:
					<span class="size" data-toggle="tooltip" title="small">{{vm.hotel.lugar.provincia}},</span>
					<span class="size" data-toggle="tooltip" title="medium">{{vm.hotel.lugar.distrito}},</span>
					<span class="size" data-toggle="tooltip" title="large">{{vm.hotel.lugar.canton}}</span>
				</h5>
				<h5 class="colors">Reservaciones:</h5>
				<span class="glyphicon glyphicon-earphone" aria-hidden=""></span>
				<span>{{vm.hotel.telefono.reservaciones}}</span> </br>
				<span class="glyphicon glyphicon-envelope" aria-hidden=""></span>
				<span>{{vm.hotel.correo.reservaciones}}</span>
				<h5 class="colors">Servicio Cliente:</h5>
				<span class="glyphicon glyphicon-earphone" aria-hidden=""></span>
				<span>{{vm.hotel.telefono.servicioCliente}}</span> </br>
				<span class="glyphicon glyphicon-envelope" aria-hidden=""></span>
				<span>{{vm.hotel.correo.servicioCliente}}</span>
				

			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="advanced" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Calificar hotel</h4>
      </div>
      <div class="modal-body container">
		<div class="row">
			<div class="col-md-5">
		    	<label for="" >Comida</label>
			</div>
			<div class="col-md-6">
        		<rating ng-model="vm.calificacion.comida"></rating>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<label for="">Calidad ​​del​ ​servicio</label>
			</div>
        	<div class="col-md-6">
        		<rating ng-model="vm.calificacion.servicio"></rating>
        	</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<label for="">Habitaciones</label>
			</div>
        	<div class="col-md-6">
        		<rating ng-model="vm.calificacion.habitaciones"></rating>
        	</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<label for="">Infraestructura</label>
			</div>
       		<div class="col-md-6">
       			<rating ng-model="vm.calificacion.infraestructura"></rating>
       		</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<label for="">Limpieza</label>
			</div>
        	<div class="col-md-6">
        		<rating ng-model="vm.calificacion.limpieza"></rating>
        	</div>
		</div>
		{{vm.calificacion}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-warning" ng-click="vm.salvarCalificacion()">Salvar</button>
      </div>
    </div>
  </div>
</div>